@import "nib";

@import "libs/utils";
@import "libs/fontface";
@import "libs/normalize";

html
  font-size: 62.5%

body,html
  width 100%
  height 100%
  overflow hidden
  position: relative


.audience_wrap
  width 100%
  height 18%
  position absolute
  left 0
  bottom 0
  .audience
    position: absolute
    top: 0;
    img
      width: 100px
    animation: jumping 1s linear infinite
    &.type0
      animation-delay: 0.4s
      animation-duration: 2s
    &.type1
      animation-delay: 0.2s
      animation-duration: 1.2s
    &.type2
      animation-delay: 0.6s
      animation-duration: 1.4s
    &.type3
      animation-delay: 0.4s
      animation-duration: 1.2s
    &.type4
      animation-delay: 1.2s
      animation-duration: 1.8s

  for num in 0..20
    .pos_{num}
      left unit( (num * 80) - 80,px)

#speaker_title
  position: absolute
  width: 60%
  left: 20%
  background: #fff
  border #ccc 2px solid
  padding 20px
  top: 3%
  text-align: center
  fset(32,12)
  font-family: 'kanyutei'


#speaker_body
  position: absolute
  left: 50%
  bottom: 30%
  margin-left: -125px
  img
    display: block
    position: relative
  .zabuton
    content url('../images/zabuton.png');
    position: absolute
    left: -10%
    bottom: -24px;
    width: 300px;
    z-index: 0;
    img
      width: 100%


#bg
  width: 100%
  height: 100%
  position: relative
  position: absolute
  top: 0
  left: 0
  background: url('../images/maku.jpg');

#lt_speaker
  position: absolute
  right: 3%
  bottom: 20%
  width: 100px;
  .lt_speaker__name
    padding 30px 0;
    width: 100px;
    text-align: center
    border: 1px solid #0f0f0f
    writing-mode: vertical-rl;
    -moz-writing-mode: vertical-rl;
    -o-writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    fset(32,32)
    font-family: 'kanyutei'
    background: #fff
    -webkit-transform: rotate(0deg)
  &:before
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    -webkit-transform: rotate(2deg) translate(-2px , 0)
    border: 1px solid #0f0f0f
    background-color: #FFF
  &:after
    content: ""
    width: 20px
    height: 1px
    background: #000
    position: absolute
    left: 50%
    top: 10px
    margin-left: -10px
  .lt_speaker__foot
    position: absolute
    width: 10px
    height: 140%
    left: 50%
    top: -2%
    margin: -5px
    background-color: #BB5535
    border-radius: 2px;
    border: 1px #0f0f0f solid

.ground
  width: 100%
  height: 30%
  position: absolute
  bottom: 0
  left: 0
  background-color: #ffba00
  border-top 2px #ccc solid

#close_left,#close_right
  transition: left 1s linear, right 1s linear
  position: absolute
  top: 0
  width: 52%
  height: 100%
  background: url('../images/maku2.png');

#close_left
  left: -52%
#close_right
  right: -52%

@keyframes jumping
  0%
    transform: translate(0,0)
  50%
    transform: translate(0,0)
  52%
    transform: translate(0,-20px)
  54%
    transform: translate(0,0)

.msg
  padding: 20px
  position: absolute
  width: 200px
  border-radius: 10px
  background: rgba(255,255,255,0.92)
  box-shadow: rgba(0,0,0,0.2) 0 0 20px 2px
  fset(18,16)
  word-break: break-all
  background-position: center center
  background-repeat: no-repeat
  &:hover
    z-index: 10000
  &.leftside
    &:before
      content: ""
      position: absolute
      bottom: -24px
      left: 30%
      border: 12px solid transparent
      border-top: 12px solid rgba(255,255,255,0.92)
  &.rightside
    &:before
      content: ""
      position: absolute
      bottom: -24px
      right: 30%
      border: 12px solid transparent
      border-top: 12px solid rgba(255,255,255,0.92)
  p
    display: inline-block
    z-index: 2
    margin: 0
  .image
    position: absolute
    width: 48px
    height: 48px
    border-radius 50%
    overflow: hidden
    opacity: 0.4
    top: 50%;
    left: 50%;
    margin-left: -24px;
    margin-top: -24px;
    z-index: 0
    img
      width: 48px
      height: 48px

.arrival
  -webkit-animation: arrival .3s linear;

.state
  -webkit-animation: state 6s linear; 

.depart
  -webkit-animation: depart .3s linear; 
      

@keyframes depart
  0% 
    opacity: 1;
    transform: translate(0,-10px);

  100%
    opacity: 0;
    transform: translate(0,-100px);
  


@keyframes state
  0% 
    opacity: 1;
    transform: translate(0,0px);
  
  100%
    opacity: 1;
    transform: translate(0,-10px);
  


@keyframes arrival
  0% 
    opacity: 0;
    -webkit-transform: translate(0,100px);
  
  100%
    opacity: 1;
    -webkit-transform: translate(0,0);
  

