<!DOCTYPE html>
<html>
  <head>
    {{> meta}}
  </head>
  <body>
    <div id="bg"></div>

    <div class="ground"></div>

    <div id="speaker_title">
      フル SVG サイトを一人で作ったよ 
    </div>
    <div id="speaker_body">
      <div class="zabuton">
        <img src="images/zabuton.png" alt="">
      </div>
      <img src="images/speaker.png" alt="">
    </div>

    <div id="close_left"></div>
    <div id="close_right"></div>
    
    <div id="lt_speaker">
      <div class="lt_speaker__foot"></div>
      <div class="lt_speaker__name">monpy</div>
    </div>

    <div class="audience_wrap">

    </div>
  </body>
</html>